@model EstudoASPNET.Models.NumeroModel

@{
    ViewData["Title"] = "Resultado Dividir";
}

<div class="text-center">
    <h1>Resultado da Multiplicar</h1>
    <p>A multiplicação de @ViewBag.Numero1 / @ViewBag.Numero2 é igual a @ViewBag.Resultado</p>
</div>