@{
    ViewData["Title"] = "Operação Multiplicação";
}

<div class="text-center">
    <h1>Operação Multiplicar</h1>
    <p>Utilize o formulário para efetuar a multiplicar de dois números.</p>

    <form action="MultResultado" method="post">
        <label for="numeroUm">Número 1:</label>
        <p><input type="text" name="numeroUm" id="numeroUm" required></p>
        <label for="numeroDois">Número 2:</label>
        <p><input type="text" name="numeroDois" id="numeroDois" required></p>
        <button type="submit">Enviar</button>
    </form> 
</div>
