@model EstudoASPNET.Models.NumeroModel

@{
    ViewData["Title"] = "Resultado Multiplicar";
}

<div class="text-center">
    <h1>Resultado da Multiplicar</h1>
    <p>A multiplicação de @Model.NumeroUm x @Model.NumeroDois é igual a @(Model.NumeroUm * Model.NumeroDois)</p>
</div>