@model EstudoASPNET.Models.NumeroModel

@{
    ViewData["Title"] = "Operação Somar";
}

<div class="text-center">
    <h1>Resultado da Soma</h1>
    <p>A soma de @Model.NumeroUm + @Model.NumeroDois é igual a @(Model.NumeroUm + Model.NumeroDois)</p>
</div>