@{
    ViewData["Title"] = "Resultado Subtrair";
}

<div class="text-center">
    <h1>Resultado da Subtração</h1>
    <p>A soma de @ViewBag.NumeroUm - @ViewBag.NumeroDois é igual a @ViewBag.Resultado</p>
</div>