@model EstudoASPNET.Models.CalculadoraModel

@{
    ViewData["Title"] = "Resultado Calculadora";
}

<div class="text-center">
    <h1>Resultado da Calculadora</h1>
    <p>A @ViewBag.Operador é @ViewBag.Resultado</p>
</div>